@define-color bg #1a1b26;
@define-color fg #a9b1d6;
@define-color blk #32344a;
@define-color red #f7768e;
@define-color grn #9ece6a;
@define-color ylw #e0af68;
@define-color blu #7aa2f7;
@define-color mag #ad8ee6;
@define-color cyn #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #000000;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    border-radius: 0;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-radius: 0;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
    border-radius: 0;
}

#workspaces button.hidden {
    color: @white;
    border-radius: 0;
}

#workspaces button.hidden.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
    border-radius: 0;
}

#workspaces button.urgent {
    background-color: @red;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

tooltip {
    background: #000000;
    border: 1px solid #f38ba8;
    border-radius: 12px;
}

tooltip label {
    color: #f38ba8;
}

#window {
    font-weight: bold;
    margin: 2px 0px;
    margin-right: 7px;
    padding: 0px 18px;
    background: #000000;
    color: #a6e3a1;
    border-radius: 4px;
}

#network {
    font-size: 20px;
    background: #000000;
    color: #fab387;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}
#network.disconnected {
    font-size: 20px;
    background: #000000;
    color: #f38ba8;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}
#bluetooth {
    font-size: 20px;
    background: #000000;
    color: #cba6f7;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}

#battery {
    font-size: 20px;
    background: #000000;
    color: #a6e3a1;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}

#pulseaudio {
    font-size: 20px;
    background: #000000;
    color: #f38ba8;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}

#backlight {
    font-size: 20px;
    background: #000000;
    color: #f9e2af;
    margin: 2px 0px;
    margin-right: 7px;
    border-radius: 4px;
    padding: 0px 12px;
}
