set scrolloff=10
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set notimeout
set which-key

let mapleader = " "
let maplocalleader = " "

nnoremap <leader><CR> :nohlsearch<CR>
nmap <leader>z <Action>(ToggleDistractionFreeMode)

nnoremap L :action NextTab<CR>
nnoremap H :action PreviousTab<CR>


" Go to / peek / diagnostics (very similar to kickstart.nvim lsp mappings)
nnoremap gd         :action GotoDeclaration<CR>
nnoremap gD         :action GotoImplementation<CR>
nnoremap gr         :action FindUsages<CR>
nnoremap gi         :action GotoImplementation<CR>
nnoremap gy         :action GotoTypeDeclaration<CR>
nnoremap K          :action QuickJavaDoc<CR>
nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>ld :action ShowIntentionActions<CR>

" Diagnostics / problems (like Trouble.nvim)
nnoremap <leader>xx :action ViewCodeProblems<CR>
nnoremap <leader>xn :action GotoNextError<CR>
nnoremap <leader>xp :action GotoPreviousError<CR>

" ─────────────────────────────────────────────────────────────────────────────
" Search / Find ────────────────────────────────────────────────────────────────
" ─────────────────────────────────────────────────────────────────────────────

nmap <Leader>ff <action>(com.mituuz.fuzzier.search.Fuzzier)
nmap <Leader>fg <action>(com.mituuz.fuzzier.grep.FuzzyGrep)
" Grepping
nmap <Leader>fG <action>(com.mituuz.fuzzier.grep.FuzzyGrepOpenTabsCI)
nmap <Leader>f/ <action>(com.mituuz.fuzzier.grep.FuzzyGrepCurrentBuffer)

" Reload config
nnoremap <leader>vr :source ~/.ideavimrc<CR>

" Edit config
nnoremap <leader>vv :e ~/.ideavimrc<CR>

" Which-key style help (IdeaVim has :actionlist)
nnoremap <leader>? :action GotoAction<CR>